body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.center {
  padding-top: 50px;
  text-align: center;
  position:fixed;
    top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em;
    margin-left: -15em;
    border: 1px solid #ccc;
    background-color: #f3f3f3;
}
input[type="text"] {
  width: 100%;
}
input[type="checkbox"] {
  margin-right: 10px;
}
.done {
  text-decoration: line-through;
}